#product {}

#product-info {
    margin: 8px;
    display: grid;
    gap: 8px;
}

#product-info-photo {
    width: 100%;
    aspect-ratio: 1 / 1;
}

#product_dialog {
    position: fixed;
    bottom: 0;
    width: calc(100% - 2 * 16px);
    padding: 16px;
    display: grid;
    gap: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: var(--tg-theme-bg-color);
}

#product_dialog_info {
    display: flex;
    justify-content: space-between;
}

#product_dialog_choice {
    height: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

#product_dialog_choice_extend {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#product_dialog_choice_extend_rmv, #product_dialog_choice_extend_add {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    color: var(--tg-theme-button-text-color);
    background-color: var(--tg-theme-button-color);
}

#product_dialog_choice_action {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    color: var(--tg-theme-button-text-color);
    background-color: var(--tg-theme-button-color);
}