#orders {
	margin: 10px;
	display: grid;
	gap: 10px;
}

.order {
	padding: 15px 10px;
	display: grid;
	gap: 10px;
	border-radius: 10px;
	background-color: var(--tg-theme-bg-color);
}

.order:hover {
	cursor: pointer;
}

.order-info {
	display: flex;
	justify-content: space-between;
}

.order-photos {
	height: 40px;
	display: flex;
}

.order-photo {
	height: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 10px;
}

.order-photo-other {
	height: 100%;
	aspect-ratio: 1 / 1;
	display: grid;
	place-items: center;
}