#cart {
    display: grid;
    gap: 32px;
}

#cart_header {
    margin: 16px 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cart_header_title {
    font-size: 24px;
    font-weight: 600;
}

#cart_products {
    margin: 0 16px 16px;
    display: grid;
    gap: 8px;
}

.cart-product {
    height: 64px;
    display: grid;
    align-items: center;
    grid-template-columns: max-content auto max-content;
    gap: 8px;
}

.cart-product_photo {
    height: inherit;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    background-color: var(--tg-theme-bg-color);
}

.cart-product_choice {
    height: 24px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    border-radius: 8px;
    background-color: var(--tg-theme-bg-color);
}

#cart_dialog {
    position: fixed;
    width: calc(100% - 8px*2);
    bottom: 0;
    padding: 8px;
    background-color: var(--tg-theme-bg-color);
}

#cart_dialog_button {
    height: 40px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    color: var(--tg-theme-button-text-color);
    background-color: var(--tg-theme-button-color);
}

#cart-dialog-button {
	height: 100%;
	padding: 0 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#cart-empty {
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: auto 64px;
}

#cart-empty_info {
    display: grid;
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#cart-empty_info_title {
    font-size: 20px;
}

#cart-empty_dialog_button {
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cart-empty_info_icon {
    margin: auto;
    width: 64px;
    text-align: center;
    fill: var(--tg-theme-text-color);
}

#cart-empty_section_button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}